data/transactions.sqlite
.venv/
__pycache__/
*.egg-info/
src/__pycache__/
security-test/__pycache__/
*.pyc
.DS_Store

# === ARQUIVOS DE SUPORTE ===
Lucas Pedro - Data Analyst Case Solution.html
Lucas Pedro Medeiros Barbosa - Data Analyst Case Solution.pdf
Lucas Pedro - Data Analyst Case Solution (PT).html
Lucas Pedro Medeiros Barbosa - Data Analyst Case Solution (PT).pdf
respostas-payments.md
anti-fraud_report.md
